.checklist-container{

    .checklist-items{
        display:flex;
        padding: 1vw 1.5vw;
        background-color: $secondary-color;
        margin: 1vw 0;
        border-radius: 12px;
        .checklist-item-title{
            font-size: 1.2vw;
            font-weight: 600;
            margin: 0;
            color: $text-dark;
        }
    }
}
#completed{
    .checklist-item-title{
        text-decoration: line-through !important;
    }
}

progress {
    border-radius: 7px; 
    width: 90%;
    height: 1vw;

  }
  progress::-webkit-progress-bar {
    background-color: $secondary-color;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: $primary-color;
    border-radius: 10px;
    transition: 0.5s ease all;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }


  #progressBarContainer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }