.checklist-container{

    .checklist-items{
        display:flex;
        padding: 1vw 1.5vw;
        background-color: $secondary-color;
        margin: 1vw 0;
        border-radius: 12px;
        .checklist-item-title{
            font-size: 1.2vw;
            font-weight: 600;
            margin: 0;
            color: $text-dark;
        }
    }
}
#completed{
    .checklist-item-title{
        text-decoration: line-through !important;
    }
}