.header {
  width: 78vw;
  height: 5vw;
  position: fixed;
  top: 0vw;
  right: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  border-bottom: $text-light 3px solid;
  z-index: 2;
  background-color: $body-color;
  .header-txt {
    font-size: 1.8vw;
    font-weight: 700;
    color: $text-dark;
    margin: 0;
  }
  .header-util {
    display: flex;
    width: 40%;
    justify-content: space-between;
    .header-ico {
      width: 1.5vw;
      height: 1.5vw;
    }
    .search-box {
      width: 20vw;
      height: 3vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5vw 0 0.5vw 1vw;
      background-color: #fff;
      border-radius: 12px;
      cursor: pointer;
      input {
        height: 100%;
        border: none;
        border-radius: 0.5vw;
        background-color: transparent;
        font-size: 1vw;
        color: $text-dark;
        padding: 0.5vw;
        &:focus {
          outline: none;
        }
      }
    }
    .header-box {
      height: 3vw;
      width: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      cursor: pointer;
      &:hover {
        background-color: $secondary-color;
        .header-ico {
          filter: brightness(0.5);
        }
      }
      &:active {
        background-color: $primary-color;
        .header-ico {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.notification-container {
  width: 30vw;
  background-color: #fff;
  padding: 1.2vw 1vw;
  border-radius: 10px !important;
}
