.tab{
    background-color: $secondary-color;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    margin: 1vw;
    align-items: center;
    .divider{
        background-color: $text-light;
        border-radius: 1px;
        width: 3px;
        height: 50%;
    }
    .active-divider{
        display: none;
    }

    .tablinks{
        margin: 0;
        padding: 1vw 2vw;
        background-color: $secondary-color;
        font-size: 1vw;
        border: none;
        border-radius: 12px;
        color: $text-dark;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            background-color: $secondary-hover-color;
        }
    }
    .active-tab{
        background-color: $primary-color;
        color: #fff;
        &:hover{
            background-color: $primary-color;
        }
    }
}
